.navbar{
    background:black;
    padding: 20px 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .page-title{
        color: #ffff;
        text-transform: uppercase;
    }
}