.movies-list{
    padding: 24px 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
    list-style: none;
    width:100%;
}
.movie-card{
    .movie-title{
        color: #fff;
    }
}